@import 'nullstyle.scss';

body{
    background: #eae9e9;
    color: #363636;
}
.wrapper{
    width: 80%;
    margin: 0 auto;
}
h1{
    font-size: 50px;
    padding-top: 50px;
}
.header_span {
    font-size: 20px;
    font-weight: 600;
    padding-bottom: 50px;
}
.todo-list {
    margin: 50px 0 30px;
    background-color: #fff;
    border: 1px solid #e3e1e1;
}
.todo-list__title {
    text-align: center;
    font-size: 25px;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.none{
    display: none;
}
.todo-list__item {
    border-top: 1px solid #e3e1e1;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    min-height: 50px;
}
.todo-list__item-buttons img{
    pointer-events: none;
}
.todo-list__item-name {
    display: flex;
    align-items: center;
    font-size: 16px;
    
}
.done{
    opacity: 0.5;
    text-decoration: line-through;
}
.todo-list__item-done {
    margin-right: 5px;
    height: 35px;
    width: 35px;
    opacity: 0.7;
    transition: 0.5s;
    &:hover{
        opacity: 1;
    }
}
.img-done {
    height: 20px;
    
}
.todo-list__item-delete {
    height: 35px;
    width: 35px;
    transition: 0.5s;
    opacity: 0.7;
    &:hover{
        opacity: 1;
    }
}
.img-delete {
    width: 20px;
}

.task {
    background-color: white;
    border: 1px solid #e3e1e1;
    width: 100%;
}
.task__title {
    font-size: 16px;
    padding: 15px;
    border: 1px solid #e3e1e1;
}
.task__input {
    width: 96%;
    margin: 20px 15px 30px;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #e3e1e1;
    font-size: 15px;
}
.task__add {
    background-color: rgb(74, 74, 243);
    color: white;
    padding: 15px 20px;
    margin: 0 15px 20px;
    font-size: 16px;
    border-radius: 8px;
    transition: 0.5s;
    opacity: 0.8;
    &:hover{
        opacity: 1;
    }
}
